.form {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.searchInput {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100px;
  margin: auto;
}

.searchInput input {
}

.attributeList {
  display: flex;
  padding-top: 10px;
}

button {
  margin-top: 5px;
}
